<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="/css/css2.css" rel="stylesheet">
    <link href="/font-awesome/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/snackbar.min.css">
    
    <link rel="stylesheet" href="/css/css.css">
    <link rel="stylesheet" href="/datetimepicker/css/bootstrap-datetimepicker.min.css" />

    <title>Uplace Administrador</title>
  </head>
  <body ng-app="myApp">

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container" ng-controller="navController">
          <a class="navbar-brand" href="#">
            <h5 class="my-0 mr-md-auto font-weight-normal">Uplace Administrador</h5>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">

              <li class="nav-item active">
                <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
              </li>
            </ul>
            <!-- <div class="form-inline mt-2 mt-md-0">
              
            </div> -->
            <ul class="navbar-nav ml-md-auto mt-2 mt-md-0">
              
              <li class="nav-item dropdown" ng-if="user.id">
                <a class="nav-link dropdown-toggle prevent-default" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">TABLAS BÁSICAS</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <a class="dropdown-item" href="#!banner">Banners/Encabezados</a>
                  <!--<a class="dropdown-item" href="#!empresa">Empresas</a>-->
                  <a class="dropdown-item" href="#!empresa2">Empresas</a>
                  <a class="dropdown-item" href="#!grupoempresa">Grupos por Empresa</a>
                  <a class="dropdown-item" href="#!detalle_servicio">Servicios por Empresa</a>
                  <a class="dropdown-item" href="#!atencion">Horarios de Atención</a>
                  <a class="dropdown-item" href="#!evento">Eventos por Empresa</a>
                  <a class="dropdown-item" href="#!oferta">Ofertas por Empresa</a>
                  <a class="dropdown-item" href="#!news">Noticias por Empresa</a>
                  <a class="dropdown-item" href="#!feedback">Calificación por Empresa</a>
                  <a class="dropdown-item" href="#">_</a>
                  
                  <a class="dropdown-item" href="#!producto">Productos</a>
                  <a class="dropdown-item" href="#!servicio">Servicios</a>
                  <a class="dropdown-item" href="#">_</a>
                  
                  <a class="dropdown-item" href="#!clase">Clases</a>
                  <a class="dropdown-item" href="#!grupo">Grupos</a>
                  <a class="dropdown-item" href="#!tipocategoria">Categorías</a>
                  <a class="dropdown-item" href="#!tipoproducto">Tipo Productos</a>
                  <a class="dropdown-item" href="#!ciudad">Ciudades</a>
                </div>
              </li>
  
  
  
  
  
              <li class="nav-item" ng-show='logging'>
                <a class="nav-link" href="">
                  <i class="fa fa-cog fa-spin"></i>
                </a>
              </li>
              <li class="nav-item" ng-hide='user.id || logging'>
                <a class="nav-link" href="#!/login">
                  <i class="fa fa-user"></i> Iniciar sesión
                </a>
              </li>
              <li class="nav-item dropdown" ng-show="user.id && !logging">
                <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <i class="fa fa-user"></i> {{user.nombres}} {{user.apellidos}}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
                  <a class="dropdown-item" href="#">Perfil</a>
                  <a class="dropdown-item" href="" ng-click='logout()'><i class="fa fa-sign-out-alt"></i> Cerrar sesión</a>
                </div>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="container">
      <div class="row">
        <div ng-view style="width: 100%;"></div>
      </div>
    </div>

    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-route.js"></script>
    <script src="/js/routes.js"></script>
    <script src="/js/dependencies.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/directives.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="/js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="/js/axios.min.js" crossorigin="anonymous"></script>

    <script src="/js/moment-with-locales.js"></script>
    <script src="/datetimepicker/js/bootstrap-datetimepicker.js"></script>

    <script src="/font-awesome/js/all.min.js"></script>
    <script src="/js/functions.js"></script>
    <script src="/js/snackbar.min.js"></script>
    
    <script src="/js/controller/nav.js"></script>
    <script src="/js/controller/login.js"></script>
    <script src="/js/controller/empresa.js"></script>
    <script src="/js/controller/empresa2.js"></script>
	  <script src="/js/controller/tipoproducto.js"></script>
	  <script src="/js/controller/clase.js"></script>
	  <script src="/js/controller/tipocategoria.js"></script>
	  <script src="/js/controller/grupo.js"></script>
    <script src="/js/controller/servicio.js"></script>
	
    <script src="/js/controller/oferta.js"></script>
    <script src="/js/controller/evento.js"></script>
    <script src="/js/controller/banner.js"></script>
	  <script src="/js/controller/feedback.js"></script>
	  <script src="/js/controller/news.js"></script>
	  <script src="/js/controller/producto.js"></script>
    <script src="/js/controller/ciudad.js"></script>
    <script src="/js/controller/atencion.js"></script>
    
    <script src="/js/controller/grupoempresa.js"></script>
    <script src="/js/controller/detalle_servicio.js"></script>
  </body>
  
</html>