<div>


  <div class="collapse show" id="list">
    <p>FEEDBACK <button type="button" class="btn btn-link" ng-click='prepareForm()'>Nueva</button></p>

    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Empresa</th>
		      <th scope="col">Visitas</th>
          <th scope="col">Likes</th>
          <th scope="col">Favorito</th>
		      <th scope="col">Puntaje</th>
		      <th scope="col">Estado</th>
		      <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='feedback in feedbackList'>
          <td>{{$index + 1}}</td>
		      <td>{{feedback.empresa.nombre}} </td>
          <td>{{feedback.visitas}}</td>
          <td>{{feedback.likes}}</td>
		      <td>{{feedback.favorito}}</td>
		      <td>{{feedback.puntaje}}</td>
          <td>{{feedback.estado}}</td>
		  
		      <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-sm btn-outline-dark" ng-click='prepareForm(feedback, false, $index)'><i class="fa fa-search"></i></button>
              <button type="button" class="btn btn-sm btn-outline-dark" ng-click='prepareDelete(feedback, $event, $index)'><i class="fa fa-trash"></i></button>
            </div>
          </td>
        </tr>
        <tr ng-hide='loadingFeedback || feedbackList.length'>
          <td colspan="4">
            <div class="alert alert-warning" role="alert">
              No se encontraron registros
            </div>
          </td>
        </tr>
        <tr ng-show='loadingFeedback'>
          <td colspan="4" class="text-center">
            <h1><i class="fa fa-cog fa-spin text-secondary"></i></h1>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="collapse" id="form">
    <button class="btn btn-link" type="button" ng-click='show("list")'>
      Volver
    </button>
    <div ng-show="feedback.id" style="display: initial;">
      <button class="btn btn-link" type="button" ng-click='editable=!editable'>
        {{editable?'Ver detalles':'Editar'}}
      </button>
      <h3>{{editable?'Editar Feedback':'Detalles Feedback'}}</h3>
    </div>
    <h3 ng-hide='feedback.id'>Nuevo Feedback</h3>
    <form name="form" novalidate class="needs-validation">
      <div class="form-row">

        <div class="form-group col-md-6">
          <label for="empresa_id">Empresa</label>
          <select class="custom-select {{form.empresa_id.$valid?'is-valid':'is-invalid'}}" name="empresa_id" ng-model="feedback.empresa_id" required ng-disabled="!editable" 
            ng-readonly="!editable" ng-options="iteme.id as iteme.nombre for iteme in empresaList"></select>
          <div class="invalid-feedback" ng-if="form.empresa_id.$error.required"><i class="fa fa-times"></i> Campo Empresa es obligatorio</div> 
        </div>
        
        <div class="form-group col-md-4">
          <label for="estado">Estado</label>
          <select class="custom-select {{form.estado.$valid?'is-valid':'is-invalid'}}" name="estado" ng-model="feedback.estado" required ng-disabled="!editable" ng-readonly="!editable"
          ng-options="item.val as item.des for item in estados"></select>
          <div class="invalid-feedback" ng-if="form.estado.$error.required"><i class="fa fa-times"></i> Campo obligatorio</div> 
        </div>

      </div>

	    <div class="form-row">
        <div class="form-group col-md-4">
          <label for="favorito">Favorito</label>
          <input type="text" ng-model="feedback.favorito" class="form-control {{form.favorito.$valid?'is-valid':'is-invalid'}}" name="favorito" required ng-readonly="!editable">
          <!--<div class="valid-feedback"><i class="fa fa-check"></i> Correcto</div>-->
          <div class="invalid-feedback" ng-if="form.favorito.$error.required"><i class="fa fa-times"></i> Campo obligatorio</div> 
        </div>
      
        <div class="form-group col-md-4">
          <label for="visitas">Visitas</label>
          <input type="text" ng-model="feedback.visitas" class="form-control {{form.visitas.$valid?'is-valid':'is-invalid'}}" name="visitas" required ng-readonly="!editable">
          <!--<div class="valid-feedback"><i class="fa fa-check"></i> Correcto</div>  
          
          <div class="invalid-feedback" ng-if="form.visitas.$error.unique"><i class="fa fa-times"></i> El código ya existe</div>  -->
    		  <div class="invalid-feedback" ng-if="form.visitas.$error.required"><i class="fa fa-times"></i> El valor de las Visitas es obligatorio</div> 
        </div>
        <div class="form-group col-md-4">
          <label for="likes">Likes</label>
          <input type="text" ng-model="feedback.likes" class="form-control {{form.likes.$valid?'is-valid':'is-invalid'}}" name="likes" required ng-readonly="!editable">
          <!--<div class="valid-feedback"><i class="fa fa-check"></i> Correcto</div> 
            <div class="invalid-feedback" ng-if="form.likes.$error.unique"><i class="fa fa-times"></i> El valor de los likes existe</div> -->
          <div class="invalid-feedback" ng-if="form.likes.$error.required"><i class="fa fa-times"></i> El valor de los Likes es obligatorio</div>  
            
        </div>

      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="puntaje">Puntaje</label>
          <input type="text" ng-model="feedback.puntaje" class="form-control {{form.puntaje.$valid?'is-valid':'is-invalid'}}" name="puntaje" required ng-readonly="!editable">
          <!--<div class="valid-feedback"><i class="fa fa-check"></i> Correcto</div> -->
          <div class="invalid-feedback" ng-if="form.puntaje.$error.required"><i class="fa fa-times"></i> Campo obligatorio</div>
        </div>

        
        <div class="form-group col-md-4">
          <label for="comida">Comida</label>
          <input type="text" ng-model="feedback.comida" class="form-control {{form.comida.$valid?'is-valid':'is-invalid'}}" name="comida" required ng-readonly="!editable">
          <!--<div class="valid-feedback"><i class="fa fa-check"></i> Correcto</div>-->
          <div class="invalid-feedback" ng-if="form.comida.$error.required"><i class="fa fa-times"></i> Campo obligatorio</div> 
        </div>
		
		    <div class="form-group col-md-4">
          <label for="servicio">Servicio</label>
          <input type="text" ng-model="feedback.servicio" class="form-control {{form.servicio.$valid?'is-valid':'is-invalid'}}" name="servicio" required ng-readonly="!editable">
          <!--<div class="valid-feedback"><i class="fa fa-check"></i> Correcto</div> -->
          <div class="invalid-feedback" ng-if="form.servicio.$error.required"><i class="fa fa-times"></i> Campo obligatorio</div>
        </div>

      </div>
   
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="precios">Precios</label>
          <input type="text" ng-model="feedback.precios" class="form-control {{form.precios.$valid?'is-valid':'is-invalid'}}" name="precios" required ng-readonly="!editable">
          <!--<div class="valid-feedback"><i class="fa fa-check"></i> Correcto</div> -->
          <div class="invalid-feedback" ng-if="form.precios.$error.required"><i class="fa fa-times"></i> Campo obligatorio</div>
        </div>

        
        <div class="form-group col-md-4">
          <label for="personal">Personal</label>
          <input type="text" ng-model="feedback.personal" class="form-control {{form.personal.$valid?'is-valid':'is-invalid'}}" name="personal" required ng-readonly="!editable">
          <!--<div class="valid-feedback"><i class="fa fa-check"></i> Correcto</div>-->
          <div class="invalid-feedback" ng-if="form.personal.$error.required"><i class="fa fa-times"></i> Campo obligatorio</div> 
        </div>
		
        <div class="form-group col-md-4">
          <label for="infraestructura">Infraestructura</label>
          <input type="text" ng-model="feedback.infraestructura" class="form-control {{form.infraestructura.$valid?'is-valid':'is-invalid'}}" name="infraestructura" required ng-readonly="!editable">
          <!--<div class="valid-feedback"><i class="fa fa-check"></i> Correcto</div> -->
          <div class="invalid-feedback" ng-if="form.infraestructura.$error.required"><i class="fa fa-times"></i> Campo obligatorio</div>
        </div>

      </div>

      <div class="form row">
        <div class="col-md-12">
          <button ng-click="save()" ng-if="editable" type="submit" class="btn btn-primary" ng-disabled="form.$invalid || saving">
            <i class="fa fa-save {{saving?'fa-spin':''}}"></i> Guardar
          </button>
        </div>
      </div>

    </form>


  </div>

  

  <div role="alert" aria-live="assertive" aria-atomic="true" class="toast delete hide" data-autohide="false">
    <div class="toast-header">
      <i class="fa fa-trash"></i>&nbsp;&nbsp;<strong class="mr-auto">Desea borrar el registro?</strong>
    </div>
    <div class="toast-body">
      Esta acción es definitiva
      <button type="button" class="btn btn-link" ng-disabled='saving' ng-click='delete()'>Borrar</i></button>
      <button type="button" class="btn btn-link" data-dismiss="toast" aria-label="Close">Cancelar</button>
    </div>
  </div>

  


</div>