<div class="modal-header py-0">
	Galería de imágenes. Click en la imagen para cambiar.
</div>
<div class="form-row">
	<div class="form-group col-md-6">
			<label for="logo_image">Logo</label>
			<div ng-hide='saving'>
					<img ng-hide="empresa.rutalogo" src="http://via.placeholder.com/150" alt="No se ha cargado el logo" class="img-thumbnail cursor-pointer upload-gallery-ph" onclick="$('#uploadRutaLogo').click()">
					<img ng-show="empresa.rutalogo" src="{{imgLocation + 'empresas/' +empresa.rutalogo + '?' + cache}}" class="img-thumbnail cursor-pointer upload-gallery-ph" onclick="$('#uploadRutaLogo').click()">
			</div>
			<div ng-show='saving'>
					<i class="fa fa-cog fa-spin"></i>
			</div>
			<form class="dont-show">
					<input id='uploadRutaLogo' type="file" onchange="autoUpload($(this))"/>
					<button ng-click="uploadFile(empresa.id, 'rutalogo', 'uploadRutaLogo')" ng-disabled='saving' class = "upload-button"></button>
			</form>
	</div>
	<div class="form-group col-md-6">
			<label for="logo_image">Portada</label>
			<div ng-hide='saving'>
					<img ng-hide="empresa.rutafoto" src="http://via.placeholder.com/150" alt="No se ha cargado el logo" class="img-thumbnail cursor-pointer upload-gallery-ph" onclick="$('#uploadRutafoto').click()">
					<img ng-show="empresa.rutafoto" src="{{imgLocation + 'empresas/' +empresa.rutafoto + '?' + cache}}" class="img-thumbnail cursor-pointer upload-gallery-ph" onclick="$('#uploadRutafoto').click()">
			</div>
			<div ng-show='saving'>
					<i class="fa fa-cog fa-spin"></i>
			</div>
			<form class="dont-show">
					<input id='uploadRutafoto' type="file" demo-file-model="myFile" onchange="autoUpload($(this))"/>
					<button ng-click="uploadFile(empresa.id, 'rutafoto', 'uploadRutafoto')" ng-disabled='saving' class = "upload-button"></button>
			</form>
	</div>
</div>
<div class="form-row">
	<div class="form-group col-md-6">
			<label for="logo_image">Foto 2</label>
			<div ng-hide='saving'>
					<img ng-hide="empresa.rutafoto2" src="http://via.placeholder.com/150" alt="No se ha cargado el logo" class="img-thumbnail cursor-pointer upload-gallery-ph" onclick="$('#uploadrutafoto2').click()">
					<img ng-show="empresa.rutafoto2" src="{{imgLocation + 'empresas/' +empresa.rutafoto2 + '?' + cache}}" class="img-thumbnail cursor-pointer upload-gallery-ph" onclick="$('#uploadrutafoto2').click()">
			</div>
			<div ng-show='saving'>
					<i class="fa fa-cog fa-spin"></i>
			</div>
			<form class="dont-show">
					<input id='uploadrutafoto2' type="file" demo-file-model="myFile" onchange="autoUpload($(this))"/>
					<button ng-click="uploadFile(empresa.id, 'rutafoto2', 'uploadrutafoto2')" ng-disabled='saving' class = "upload-button"></button>
			</form>
	</div>
	<div class="form-group col-md-4">
			<label for="logo_image">Foto 3</label>
			<div ng-hide='saving'>
					<img ng-hide="empresa.rutafoto3" src="http://via.placeholder.com/150" alt="No se ha cargado el logo" class="img-thumbnail cursor-pointer upload-gallery-ph" onclick="$('#uploadrutafoto3').click()">
					<img ng-show="empresa.rutafoto3" src="{{imgLocation + 'empresas/' +empresa.rutafoto3 + '?' + cache}}" class="img-thumbnail cursor-pointer upload-gallery-ph" onclick="$('#uploadrutafoto3').click()">
			</div>
			<div ng-show='saving'>
					<i class="fa fa-cog fa-spin"></i>
			</div>
			<form class="dont-show">
					<input id='uploadrutafoto3' type="file" demo-file-model="myFile" onchange="autoUpload($(this))"/>
					<button ng-click="uploadFile(empresa.id, 'rutafoto3', 'uploadrutafoto3')" ng-disabled='saving' class = "upload-button"></button>
			</form>
	</div>
</div>