<div>
  <div class="collapse show" id="list">
    <p>Asociación de Empresas y Grupos <button type="button" class="btn btn-link" ng-click='prepareForm()'>Nueva</button></p>

    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Empresa</th>
          <th scope="col">Grupo</th>
          <th scope="col">Estado</th>
          <th scope="col">Prioridad</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='grupoempresa in grupoempresaList'>
          <td>{{$index + 1 + (pagination.per_page * (pagination.current_page - 1))}}</td>
          <td>{{grupoempresa.empresa.nombre}}</td>
          <td>{{grupoempresa.grupo.descripcion}}</td>
          <td>{{grupoempresa.estado}}</td>
          <td>{{grupoempresa.prioridad}} </td>
          
		      <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-sm btn-outline-dark" ng-click='prepareForm(grupoempresa, false, $index)'><i class="fa fa-search"></i></button>
              <button type="button" class="btn btn-sm btn-outline-dark" ng-click='prepareDelete(grupoempresa, $event, $index)'><i class="fa fa-trash"></i></button>
            </div>
          </td>
        </tr>
        <tr ng-hide='loadingGrupoEmpresa || grupoempresaList.length'>
          <td colspan="6">
            <div class="alert alert-warning" role="alert">
              No se encontraron registros
            </div>
          </td>
        </tr>
        <tr ng-show='loadingGrupoEmpresa'>
          <td colspan="6" class="text-center">
            <h1><i class="fa fa-cog fa-spin text-secondary"></i></h1>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="col-md-12" ng-include='"/view/pagination.html"'></div>
  </div>

  <div class="collapse" id="form">
    <button class="btn btn-link" type="button" ng-click='show("list")'>
      Volver
    </button>
    <div ng-show="grupoempresa.id" style="display: initial;">
      <button class="btn btn-link" type="button" ng-click='editable=!editable'>
        {{editable?'Ver detalles':'Editar'}}
      </button>
      <h3>{{editable?'Editar Grupo Empresa':'Detalles Grupo Empresa'}}</h3>
    </div>
    <h3 ng-hide='grupoempresa.id'>Nuevo Grupo Empresa</h3>
    <form name="form" novalidate class="needs-validation">
      <div class="form-row">

        <div class="form-group col-md-6">
          <label for="empresa_id">Empresa</label>
          <div class="input-group">
            <input type="text" name="_empresa_id" ng-model="grupoempresa._empresa_id" required class="form-control {{form._empresa_id.$valid?'is-valid':'is-invalid'}}" readonly>
            <div class="input-group-append" ng-if="editable">
              <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#modalBuscarEmpresa"><i class="fa fa-search"></i></button>
            </div>
          </div>
          <div class="invalid-feedback" ng-if="form.empresa_id.$error.required"><i class="fa fa-times"></i> Campo es obligatorio</div> 
        </div>
		  
		    <div class="form-group col-md-6">
          <label for="grupo_id">Grupo</label>
          <select class="custom-select {{form.grupo_id.$valid?'is-valid':'is-invalid'}}" name="grupo_id" ng-model="grupoempresa.grupo_id" required ng-disabled="!editable" 
            ng-readonly="!editable" ng-options="itemg.id as itemg.descripcion for itemg in grupoList"></select>
          <div class="invalid-feedback" ng-if="form.grupo_id.$error.required"><i class="fa fa-times"></i> Campo es obligatorio</div> 
        </div>
        
      </div>

	  
	  <div class="form-row">

      <div class="form-group col-md-6">
        <label for="estado">Estado</label>
        <select class="custom-select {{form.estado.$valid?'is-valid':'is-invalid'}}" name="estado" ng-model="grupoempresa.estado" required ng-disabled="!editable" ng-readonly="!editable"
          ng-options="item.val as item.des for item in estados"></select>
        <div class="invalid-feedback" ng-if="form.estado.$error.required"><i class="fa fa-times"></i> Campo obligatorio</div> 
      </div>

      <div class="form-group col-md-6">
          <label for="prioridad">Prioridad</label>
          <select class="custom-select {{form.estado.$valid?'is-valid':'is-invalid'}}" name="prioridad" ng-model="grupoempresa.prioridad" required ng-disabled="!editable" ng-readonly="!editable"
            ng-options="itemp.val as itemp.des for itemp in prioridades"></select>
          <div class="invalid-feedback" ng-if="form.prioridad.$error.required"><i class="fa fa-times"></i> Campo obligatorio</div> 
      </div>
    </div>
	  
	  
      <div class="form row">
        <div class="col-md-12">
          <button ng-click="save()" ng-if="editable" type="submit" class="btn btn-primary" ng-disabled="form.$invalid || saving">
            <i class="fa fa-save {{saving?'fa-spin':''}}"></i> Guardar
          </button>
        </div>
      </div>

    </form>


  </div>

  

  <div role="alert" aria-live="assertive" aria-atomic="true" class="toast delete hide" data-autohide="false">
    <div class="toast-header">
      <i class="fa fa-trash"></i>&nbsp;&nbsp;<strong class="mr-auto">Desea borrar el registro?</strong>
    </div>
    <div class="toast-body">
      Esta acción es definitiva
      <button type="button" class="btn btn-link" ng-disabled='saving' ng-click='delete()'>Borrar</i></button>
      <button type="button" class="btn btn-link" data-dismiss="toast" aria-label="Close">Cancelar</button>
    </div>
  </div>


  <div class="col-md-12" ng-include='"/view/empresa/modal_buscar.html"'></div>

  


</div>