<div>


  <div class="collapse show" id="list">
    <p>OFERTAS <button type="button" class="btn btn-link" ng-click='prepareForm()'>Nueva</button></p>

    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Empresa</th>
          <th scope="col">Descripción</th>
		      <th scope="col">Fecha Inicio</th>
          <th scope="col">Fecha Final</th>
          <th scope="col">Tipo</th>
          <th scope="col">Likes</th>
          <th scope="col">Estado</th>
          <th scope="col">Pr.</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='oferta in ofertaList'>
          <td>{{$index + 1}}</td>
		      <td>{{oferta.empresa.nombre}}</td>
          <td>{{oferta.descripcion}}</td>
          <td>{{oferta.fechaini}}</td>
          <td>{{oferta.fechafin}}</td>
		      <td>{{oferta.tipo}}</td>
          <td>{{oferta.likes}}</td>
          <td>{{oferta.estado}}</td>
		      <td>{{oferta.prioridad}}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-sm btn-outline-dark" ng-click='prepareForm(oferta, false, $index)'><i class="fa fa-search"></i></button>
              <button type="button" class="btn btn-sm btn-outline-dark" ng-click='prepareDelete(oferta, $event, $index)'><i class="fa fa-trash"></i></button>
            </div>
          </td>
        </tr>
        <tr ng-hide='loadingOferta || ofertaList.length'>
          <td colspan="4">
            <div class="alert alert-warning" role="alert">
              No se encontraron registros
            </div>
          </td>
        </tr>
        <tr ng-show='loadingOferta'>
          <td colspan="4" class="text-center">
            <h1><i class="fa fa-cog fa-spin text-secondary"></i></h1>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="collapse" id="form">
    <button class="btn btn-link" type="button" ng-click='show("list")'>
      Volver
    </button>
    <div ng-show="oferta.id" style="display: initial;">
      <button class="btn btn-link" type="button" ng-click='editable=!editable'>
        {{editable?'Ver detalles':'Editar'}}
      </button>
      <h3>{{editable?'Editar Oferta':'Detalles Oferta'}}</h3>
    </div>
    <h3 ng-hide='oferta.id'>Nueva Oferta</h3>
    <form name="form" novalidate class="needs-validation">
      <div class="form-row">

        <div class="form-group col-md-9">
          <label for="empresa_id">Empresa</label>
          <select class="custom-select {{form.empresa_id.$valid?'is-valid':'is-invalid'}}" name="empresa_id" ng-model="oferta.empresa_id" required ng-disabled="!editable" 
            ng-readonly="!editable" ng-options="iteme.id as iteme.nombre for iteme in empresaList"></select>
          <div class="invalid-feedback" ng-if="form.empresa_id.$error.required"><i class="fa fa-times"></i> Campo Empresa es obligatorio</div> 
        </div>
        
        <div class="form-group col-md-3">
          <label for="tipo">Tipo Oferta</label>
          <select class="custom-select {{form.tipo.$valid?'is-valid':'is-invalid'}}" name="tipo" ng-model="oferta.tipo" required ng-disabled="!editable" ng-readonly="!editable"
             ng-options="itemo.val as itemo.des for itemo in tiposoferta"></select>
          <div class="invalid-feedback" ng-if="form.tipo.$error.required"><i class="fa fa-times"></i> Campo obligatorio</div>
        </div>  
      </div>

      <div class="form-row">
        
        <div class="form-group col-md-12">
          <label for="descripcion">Descripción de la Oferta</label>
          <input type="text" ng-model="oferta.descripcion" class="form-control {{form.descripcion.$valid?'is-valid':'is-invalid'}}" name="descripcion" required ng-readonly="!editable">
          <!--div class="valid-feedback"><i class="fa fa-check"></i> Correcto</div>  -->
          <div class="invalid-feedback" ng-if="form.descripcion.$error.required"><i class="fa fa-times"></i> Campo obligatorio</div> 
        </div>
      
      </div>
      
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="fechaini">Fecha de Inicio</label>
          <div class="input-group">
            <input type="text" id='_fechaini' ng-model='oferta._fechaini' class="form-control {{form._fechaini.$valid?'is-valid':'is-invalid'}}" required name="_fechaini" readonly>
            <div class="input-group-append" ng-if="editable">
              <button class="btn btn-sm btn-success" onclick="$('#fechainiPicker').datetimepicker('show')"><i class="fa fa-calendar-day"></i></button>
            </div>
            <div class="invalid-feedback" ng-if="form._fechaini.$error.required"><i class="fa fa-times"></i> La Fecha Inicial es obligatorio</div> 
          </div>
          <div class="datetimepicker" data-link-field="_fechaini" id="fechainiPicker"><input type="hidden"></div>  
        </div>
      
        
        <div class="form-group col-md-3">
          <label for="fechafin">Fecha de Inicio</label>
          <div class="input-group">
            <input type="text" id='fechafin' ng-model='oferta.fechafin' class="form-control {{form.fechafin.$valid?'is-valid':'is-invalid'}}" required name="fechafin" readonly>
            <div class="input-group-append" ng-if="editable">
              <button class="btn btn-sm btn-success" onclick="$('#fechafinPicker').datetimepicker('show')"><i class="fa fa-calendar-day"></i></button>
            </div>
            <div class="invalid-feedback" ng-if="form.fechafin.$error.required"><i class="fa fa-times"></i> La Fecha Inicial es obligatorio</div> 
          </div>
          <div class="datetimepicker" data-link-field="fechafin" id="fechafinPicker"><input type="hidden"></div>  
        </div>

        <div class="form-group col-md-3">
          <label for="prioridad">Prioridad</label>
          <select class="custom-select {{form.prioridad.$valid?'is-valid':'is-invalid'}}" name="prioridad" ng-model="oferta.prioridad" required ng-disabled="!editable" ng-readonly="!editable"
             ng-options="itemp.val as itemp.des for itemp in prioridades"></select>
          <div class="invalid-feedback" ng-if="form.prioridad.$error.required"><i class="fa fa-times"></i> Campo obligatorio</div>
        </div>
		    <div class="form-group col-md-3">
           <label for="estado">Estado</label>
           <select class="custom-select {{form.estado.$valid?'is-valid':'is-invalid'}}" name="estado" ng-model="oferta.estado" required ng-disabled="!editable" ng-readonly="!editable"
             ng-options="item.val as item.des for item in estados"></select>
           <div class="invalid-feedback" ng-if="form.estado.$error.required"><i class="fa fa-times"></i> Campo obligatorio</div> 
        </div>
        <!--<div class="form-group col-md-3">
          <label for="horaini">Hora Inicial</label>
          <input type="text" ng-model="oferta.horaini" class="form-control {{form.horaini.$valid?'is-valid':'is-invalid'}}" name="horaini" required ng-readonly="!editable">
          <div class="valid-feedback"><i class="fa fa-check"></i> Correcto</div>  
          <div class="invalid-feedback" ng-if="form.horaini.$error.unique"><i class="fa fa-times"></i> El código ya existe</div>  
          <div class="invalid-feedback" ng-if="form.horaini.$error.required"><i class="fa fa-times"></i> La Hora Inicial es obligatorio</div> 
        </div>
      
        <div class="form-group col-md-3">
          <label for="horafin">Hora Final</label>
          <input type="text" ng-model="oferta.horafin" class="form-control {{form.horafin.$valid?'is-valid':'is-invalid'}}" name="horafin" required ng-readonly="!editable">
          <div class="valid-feedback"><i class="fa fa-check"></i> Correcto</div>
          <div class="invalid-feedback" ng-if="form.horafin.$error.unique"><i class="fa fa-times"></i> la Hora final ya existe</div>    
          <div class="invalid-feedback" ng-if="form.horafin.$error.required"><i class="fa fa-times"></i> El código es obligatorio</div> 
            
        </div>-->
      </div>

      <div class="form-row">
        
        <div class="form-group col-md-10">
          <label for="rutafoto">Ruta de la foto</label>
          <input type="text" ng-model="oferta.rutafoto" class="form-control {{form.rutafoto.$valid?'is-valid':'is-invalid'}}" name="rutafoto" required ng-readonly="!editable">
          <!--div class="valid-feedback"><i class="fa fa-check"></i> Correcto</div>  -->
          <div class="invalid-feedback" ng-if="form.rutafoto.$error.required"><i class="fa fa-times"></i> Campo obligatorio</div> 
        </div>
      
        <div class="form-group col-md-2">
          <label for="likes">Likes</label>
          <input type="text" ng-model="oferta.likes" class="form-control {{form.likes.$valid?'is-valid':'is-invalid'}}" name="likes" required ng-readonly="!editable">
          <!--<div class="valid-feedback"><i class="fa fa-check"></i> Correcto</div>  -->
          <div class="invalid-feedback" ng-if="form.likes.$error.required"><i class="fa fa-times"></i> Campo obligatorio</div> 
        </div>
      
      </div>
      <div class="form row">
        <div class="col-md-12">
          <button ng-click="save()" ng-if="editable" type="submit" class="btn btn-primary" ng-disabled="form.$invalid || saving">
            <i class="fa fa-save {{saving?'fa-spin':''}}"></i> Guardar
          </button>
        </div>
      </div>

    </form>

  </div>


  <div role="alert" aria-live="assertive" aria-atomic="true" class="toast delete hide" data-autohide="false">
    <div class="toast-header">
      <i class="fa fa-trash"></i>&nbsp;&nbsp;<strong class="mr-auto">Desea borrar el registro?</strong>
    </div>
    <div class="toast-body">
      Esta acción es definitiva
      <button type="button" class="btn btn-link" ng-disabled='saving' ng-click='delete()'>Borrar</i></button>
      <button type="button" class="btn btn-link" data-dismiss="toast" aria-label="Close">Cancelar</button>
    </div>
  </div>
  <button id="udfb" ng-click="updateDateField()" style="display: none;"></button>

</div>